div {
    width: 400px;
    background-color: #EEE;
    padding: 15px;
    margin-bottom: 15px
}
.second {
    white-space: nowrap;
    overflow: hidden;
}
.third {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.third:hover {
    overflow: visible;
}