div {
    text-align: center;
/*  text-shadow: x offset  y offset  blur  color*/
    text-shadow: 1px 1px 0 red, 2px 2px 0 rgb(0, 115, 255), 3px 3px 0 blueviolet;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif
}