* {
    box-sizing: border-box;
    font-family: "Arial", "Helvetica", "sans-serif";
}
.parent {
    width: 600px;
    height: 300px;
    margin: 10px auto;
    padding: 10px;
    background-color: #EEE;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.parent div {
    background-color: green;
    text-align: center;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one, 
.two,
.three {
    flex-basis: 75px;
}
.two {
    align-self: flex-start;
    width: 50%;
}