* {
    box-sizing: border-box;
    font-family: "Arial", "Helvetica", "Sans-serif";
    font-weight: bold;
    font-size: 20px;
    color: white;
} 
.grid {
    background-color: #CCC;
    padding: 10px;
    margin: 20px auto;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 20px;
}
.grid div {
    background-color: #607d8b;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    counter-increment: elment;
}
.grid div::before {
    content: "Element"

}
.grid div::after {
    content: counter(elment);
    margin-left: 5px;
}
