.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}
.grid div {
    background-color: hsl(200 100% 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.one {
    grid-column: span 3;
    grid-row: 6;
}
.two {
    grid-column: span 2;
}
.five {
    grid-column: 2 / 4;
    grid-row: 3 / 6;
}
.eight {
    grid-column: span 3;
    grid-row: 1 / 2
}