* {
    box-sizing: border-box;
}
div {
    transform: matrix(3, 0.2679, 0, 3, 20, 100);
    transform: translateX(20px) translateY(100px) scaleX(3) skewY(15deg) skewX(0) scaleY(3);
    background-color: #EEE;
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
    width: 150px;
    margin: 20px auto;
}