div {
    float: left;
    position: relative;
    margin: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #EEE;
    /*box-shadow: H-Offset | V-Offset | Blur | Spread | color | Outset / Inset*/
    box-shadow: -10px -10px 0 0 #ff0000e0, 10px 10px 0 0 #0097ff;
    border: 4px solid black;
    font-family: arial, helvetica, sans-serif;
    counter-increment: circle-count;
}
div::after {
    content: counter(circle-count);
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    top: -20px;
    left: 50%;
    margin-left: -17.5px
}
div::before {
    content: "Element";
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    margin-left: -53px;
    margin-top: -20px;
}