div {
    height: 200px;
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    background-color: #EEE;
    position: relative;
}
div::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 0;
    background-image: 
    linear-gradient(
    to right,
    hsl(0, 100%, 50%) 10%,
    limegreen 10%, limegreen 20%,
    #ff00b3 20%, #ff00b3 30%,
    rgb(255 89 67) 30%, rgb(255 89 67) 40%,
    blue 40%, blue 50%,
    hsl(0, 100%, 50%) 50%, hsl(0 100% 50%) 60%,
    limegreen 60%, limegreen 70%,
    #ff00b3 70%, #ff00b3 80%,
    rgb(255 89 67) 80%, rgb(255 89 67) 90%,
    blue 90%, blue 100%)
}